* {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}


img {
  width: 30px;
  cursor: pointer;
}





/*This code contains the header background image*/
header {
  
  background-size: fill;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
/*This container contains the positioning of the icon and the and some of the todo text*/
.brand-icon {
  padding: 25px;
  position: absolute;
  width: 541px;
  height: 48px;
  left: 215px;
  top: 45px;
  
}
  
/*Todo font tweaks*/
.brand-icon h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
/* identical to box height */
  letter-spacing: 15px;
  color: #FFFFFF;
  margin-right: 10px;
    
}
  
/*moon icon positioning*/
.brand-icon img {
  margin-left: 680px;
  position: absolute;
  top: 35px;
  bottom: 0px;
  display: flex;
  
}

/*This is the container that contains the input and it a long rectangualr box that fills up the input*/
.quary {
  background-color: hsl(0, 100%, 99%);
  position: absolute;
  width: 530px;
  height: 64px;
  left: 420px;
  top: 158px;
  border-radius: 5px;
}
/*Positioning the input*/
.center-input {
  text-align: left;
  width: 390px;
  height: 62px;
  padding-right: 70px;
  margin-left: 59px;
  border: none;
  outline: none;
}

::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.194444px;
  color: #9495A5;
  opacity: .5;
  
}

/*styled the text been typed in the input box*/
.center-input:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.194444px;
  color: #9495A5;
  opacity: 1;
}

/*checkable circle functioning as a return function*/
.icon-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  color: gray;
}

.circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  color: rgb(211, 206, 206);

}
/* CSS rule for the check icon */
.icon-check {
  width: 23px;
  height: 23px;
  background: center url(./images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  position: absolute
}

.hover {
  border: 2px solid hsl(220, 98%, 61%);
  border-radius: 100%;
  width : 22px;
  height: 22px;
}
/*------------------------------------------------------------------*/


/* Styling for the cross icon */
.icon-cross {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.strikethrough {
  text-decoration: line-through;
}




/*This is the container that contains the input and it a long rectangualr box that fills up the input*/
.todos-container {
  background-color: #f7efef;
  width: 533px;
  max-height: max-content;
  position: relative;
  left: 419px;
  top: -50px;
  border-radius: 5px ;
  box-shadow: 0 0 15px rgba(170, 170, 170, 0.2);
  overflow-y:hidden;
  overflow-x: hidden;
  
  
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  height: 65px;
  line-height: 67px;
  border-bottom: 1px solid #c2c1c1;
  padding-left: 70px;
  color: #88888a;
  font-size: 18px;
  position: relative;
  width: auto;
}

.list li:first-child {
  height: 65px; /* Adjust the height of the first item */
}

.items-left {
  position: relative;
  text-align: left;
  top: 10px;
  font-size: 14px;
  left: 30px;
  margin-right: 450px;
  color: #9495A5;
}

/*---clear completed---*/
.clear {
  position: relative;
  text-align: right;
  top: 25px;
  right: 10px;
  font-size: 14px;
  margin-left: 410px;
  color: #9495A5;
  cursor: pointer;
}

.clear a {
  text-decoration: none;
  color: #9495A5;
}
.clear a:hover {
  color: #5c5a5a;
}
/*-----------------------*/

/*-------All--------*/
.cont_All {
  position: relative;
  left: 170px;
  top: -5px;
  font-size: 14px;
  margin-right: 510px;
  cursor: pointer;
}
.cont_All a {
  text-decoration: none;
  color: #3A7CFD;
}
.cont_All a:hover {
  color: #5c5a5a;
}
/*---------------------*/

/*--------active-------------*/
.cont_active {
  position: relative;
  left: 210px;
  top: -20px;
  font-size: 14px;
  margin-right: 480px;
}
.cont_active a {
  text-decoration: none;
  color: #9495A5;
}
.cont_active a:hover {
  color: #5c5a5a;
}
/*---------------------*/

/*--------completed-------------*/
.cont_completed {
  position: relative;
  left: 270px;
  top: -20px;
  font-size: 14px;
  margin-right: 450px;
  margin-top: -15px;
  color: #9495A5;
}
.cont_completed a {
  text-decoration: none;
  color: #9495A5;
}

.cont_completed a:hover {
  color: #5c5a5a;
}

/* --------------------------- */



.align {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*###################################*/

.drag-drop p{
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.194444px;
  color: #9495A5;
  margin-top: -20px;
}

.attribution {
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

footer {
  position: relative;
  bottom: auto;
  width: 100%;
  top: 25px;
}


/*-----------------DARK MODE----------------------*/
body {
  background-color: #dfd5d5;
  color: #000;
}

.dark_mode {
  background-color: #000;
  color: #fff;
}

.dark_mode header {
  background-image: url(./images/bg-desktop-dark.jpg);
}

/*This rule applies the background image to the header when the dark mode class is not present on the body*/
body:not(.dark_mode) header {
  background-image: url(./images/bg-desktop-light.jpg);
}

.brand-icon,h1 {
  color: #fff;
  
}

.brand-icon img {
  filter: none;
}

.dark_mode .quary input {
  background-color: #222;
  color: #fff;
}

.dark_mode .quary {
  background-color: #222;
  color: #fff;
}

.dark_mode .todos-container {
  background-color: #222;
}

.dark_mode .list li {
  border-color: #444;
}

.dark_mode .circle {
  filter: none;
}


.dark_mode .items-left label {
  color: #9495A5;
}

.dark_mode .clear label {
  color: #9495A5;
}

.dark_mode .drag-drop p {
  color: #6b6969;
}

.dark_mode .center-input:focus {
  color: rgb(98, 102, 105);
}

/*-----------------DARK MODE----------------------*/


@media (max-width: 375px) {
  body:not(.dark_mode) header {
    background-image: url(./images/bg-mobile-light.jpg) no-repeat;
    background-size: cover;
  }

  
  .brand-icon {
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    padding: 0;
    margin: 0;
  }

  .brand-icon h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 10px;
    margin-right: 92%;
    top: 35px;
  }

  .brand-icon img {
    margin-left: 300px;
    position: absolute;
    top: 35px;
    bottom: 0;
    display: flex;
  }

  .quary {
    position: relative;
    width: 99%;
    height: 20%;
    left: 0;
    top: 70px;
    border-radius: 5px;
    background-color: #fff;
  }

  .center-input {
    width: 50%;
    height: 100%;
    padding-right: 0;
    margin-left: -40px;
    border: none;
    background-color: #fff;
  }

  .icon-circle {
    left: 10px;
  }

  .todos-container {
    position: relative;
    width: 100%;
    max-height: max-content;
    left: 0;
    top: -17px;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .items-left {
    margin-right: 300px;
    left: 20px;
  }

  .clear {
    margin-left: 0;
  }

  .cont_All {
    
    margin-right: 340px;
    left: 120px;
    top: 20px;
  }

  .cont_active {
    margin-right: 0;
  }

  .cont_completed {
    margin-right: 0;
  }

  .all-completed {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: aqua;
    border-radius: 5px;
    left: 0;
    top: 0;

  }

  .drag-drop p {
    position: relative;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.194444px;
    color: #9495A5;
    margin-top: 30px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  footer {
    position: relative;
    bottom: auto;
    width: 100%;
    top: 25px;
  }
}


