* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 30px;
  cursor: pointer;
}

/*This code contains the header background image*/
header {
  background-size: contain;
  background-position: center;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
  
/*This container contains the positioning of the icon and the and some of the todo text*/
.brand-icon {
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  display: flex;
  width: 541px;
  height: 48px;
  margin-top: -6rem;
}
  
/*Todo font tweaks*/
.brand-icon h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  margin-left: 20px;
}

/*moon icon positioning*/
.brand-icon #Img {
  margin-left: 240px;
  margin-top: -1.rem;
}

/*This is the container that contains the input and it a long rectangualr box that fills up the input*/
.quary {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  width: 533px;
  height: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  margin-top: 5rem;
  margin-inline: auto;
}
/*Positioning the input*/
.center-input {
  text-align: left;
  width: 390px;
  height: 62px;
  padding-right: 70px;
  margin-left: 59px;
  border: none;
  outline: none;
}

::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.194444px;
  color: hsl(235, 7%, 64%);
  opacity: 0.5;
  top: 40px;
}

/*styled the text been typed in the input box*/
.center-input:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.194444px;
  color: hsl(230, 4%, 70%);
  opacity: 1;
}

/*checkable circle functioning as a return function*/
.icon-circle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  color: hsl(0, 8%, 91%);
}

.circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  color: rgb(211, 206, 206);
}
/* CSS rule for the check icon */
.icon-check {
  width: 23px;
  height: 23px;
  background: center url(./images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  top: 51%;
  left: 4.6%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

.item-checked {
  background-color: #f7f7f7;
}

.hover {
  border: 2px solid hsl(202, 82%, 56%);
  border-radius: 100%;
  width : 22px;
  height: 22px;
}

.hover .icon-check {
  display: block;
  left: 2%;
}
/*-----------------------------*/
/* Styling for the cross icon */
.icon-cross {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.strikethrough {
  text-decoration: line-through;
}

/*This is the container that contains the input and it a long rectangualr box that fills up the input*/
.todos-container {
  width: 533px;
  max-height: 280px;
  justify-content: center;
  flex-direction: column;
  margin-left: 420px;
  margin-top: -2rem;
  border-radius: 5px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  overflow-x: hidden;
  align-items: center;
  margin-inline: auto;
}

.filter-container {
  position: sticky;
  bottom: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 2;
  border-top: 0.5px solid hsl(0, 0%, 83%);
}

.todos-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.todos-container::-webkit-scrollbar-thumb {
  background-color: #c5c4c4;
  border-radius: 4px;
}

.todos-container::-webkit-scrollbar-thumb:hover {
  background-color: #a5a4a4;
}

.todos-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.list {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.list li {
  height: 65px;
  line-height: 67px;
  border-bottom: 1px solid #c2c1c1;
  padding-left: 70px;
  color: #88888a;
  font-size: 18px;
  position: relative;
  width: auto;
}

.list li:first-child {
  height: 65px; /* Adjust the height of the first item */
}

.items-left {
  position: relative;
  text-align: left;
  top: 10px;
  font-size: 14px;
  left: 30px;
  margin-right: 410px;
  color: #9495A5;
}

/*---clear completed---*/
.clear {
  position: relative;
  text-align: right;
  top: 25px;
  right: 20px;
  font-size: 14px;
  margin-left: 380px;
}

/*-------All--------*/
.cont_All {
  position: relative;
  left: 170px;
  top: -5px;
  font-size: 14px;
  margin-right: 510px;
}

/*--------active-------------*/
.cont_active {
  position: relative;
  left: 210px;
  top: -20px;
  font-size: 14px;
  margin-right: 480px;
}


/*--------completed-------------*/
.cont_completed {
  position: relative;
  left: 270px;
  top: -20px;
  font-size: 14px;
  margin-right: 450px;
  margin-top: -15px;
}

/*-----------------------------*/
.cont_All, .cont_active, .cont_completed, .clear {
  color: #9495A5;
}
/* --------------------------- */
.filter {
  cursor: pointer;
  color: #aeb6bd;
}

.filter.active {
  color: rgb(38, 38, 245);
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------*/

.drag-drop p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.194444px;
  color: #9495A5;
  margin-top: 1.5rem;
  margin-inline: auto;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: 11px; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

footer {
  position: relative;
  bottom: auto;
  width: 100%;
  top: 25px;
}


/*-----------------DARK MODE----------------------*/
body {
  background: hsl(0, 0%, 98%);
  color: hsl(235, 21%, 11%);
}

.dark_mode #mobile-filter{
  border-radius: 5px;
  background: #25273D;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}

.dark_mode .filter-container {
  background-color: hsl(235, 24%, 19%);
  border-top: 0.5px solid hsl(210, 2%, 25%);
}

.dark_mode .todos-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.dark_mode .todos-container::-webkit-scrollbar-thumb {
  background-color: hsl(221, 9%, 36%);
  border-radius: 4px;
}

.dark_mode .todos-container::-webkit-scrollbar-thumb:hover {
  background-color: hsl(240, 1%, 47%);
}

.dark_mode .todos-container::-webkit-scrollbar-track {
  background-color: hsl(217, 18%, 28%);
  border-radius: 4px;
}


.dark_mode .item-checked {
  background-color: hsl(232, 26%, 16%);
}

.dark_mode {
  background-color: hsl(235, 21%, 11%);
  color: hsl(0, 0%, 100%);
}

.dark_mode header {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1440px 300px;
  flex-shrink: 0;
}

/*This rule applies the background image to the header when the dark mode class is not present on the body*/
body:not(.dark_mode) header {
  background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1440px 300px;
  flex-shrink: 0;
}

.brand-icon,h1 {
  color: #fff;
  
}

.brand-icon img {
  filter: none;
}

.dark_mode .quary input {
  background-color: hsl(235, 24%, 19%);
  color: #fff;
}

.dark_mode .quary {
  background-color: hsl(235, 24%, 19%);
  color: #fff;
}

.dark_mode .todos-container {
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0 1px 2px 1px hsl(237, 14%, 26%);
}

.dark_mode .list li {
  border-color: #393A4B;;
}

.dark_mode .circle {
  filter: none;
}

.dark_mode .drag-drop p {
  color: #6b6969;
}
.dark_mode .all-completed {
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0 1px 2px 1px hsl(237, 14%, 26%);
}

.dark_mode .center-input:focus {
  color: rgb(98, 102, 105);
}


/*----Desktop mode start----*/
@media (max-width: 8060px) {
  #mobile-filter {
    display: none;
  }
}

/* tablet mode start*/
@media (max-width: 992px) {
    /*This container contains the positioning of the icon and the and some of the todo text*/
  #mobile-filter {
    display: none;
  }

  /*Todo font tweaks*/
  .brand-icon h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 15px;
    margin-inline: auto;
  }

  /*This code contains the header background image*/
  header {
    background-size: contain;
    background-position: center;
    height: 300px;
    display: flex;
    text-align: center;
  }
  
  /*moon icon positioning*/
  .brand-icon img {
    margin-left: 650px;
    margin-inline: auto;
    font-size: 35px;
  }
  /*This is the container that contains the input and it a long rectangualr box that fills up the input*/
  .quary {
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 64px;
    border-radius: 5px;
    margin-inline: auto;
  }
  /*Positioning the input*/
  .center-input {
    text-align: left;
    width: 350px;
    height: 64px;
    padding-right: 70px;
    margin-left: 59px;
    border: none;
    outline: none;
  }

  .hover {
    border: 2px solid hsl(194, 98%, 61%);
    border-radius: 100%;
    width : 22px;
    height: 22px;
  }

  .todos-container {
    width: 500px;
    max-height: 280px;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    overflow-x: hidden;
    align-items: center;
    margin-inline: auto;
  }

  .items-left {
    position: relative;
    text-align: left;
    top: 10px;
    font-size: 14px;
    left: 30px;
    margin-right: 400px;
    color: #9495A5;
  }
  /*---clear completed---*/
  .clear {
    position: relative;
    text-align: right;
    top: 24.5px;
    right: 20px;
    font-size: 14px;
    margin-left: 370px;
  }

  .cont_All, .cont_active, .cont_completed, .clear {
    color: #9495A5;
  }

  .cont_All {
    position: relative;
    left: 150px;
    top: -3px;
    font-size: 14px;
    margin-right: 510px;
  }

  .cont_active {
    position: relative;
    left: 190px;
    top: -19px;
    font-size: 14px;
    margin-right: 480px;
  }

  .cont_completed {
    position: relative;
    left: 250px;
    top: -19px;
    font-size: 14px;
    margin-right: 450px;
    margin-top: -15px;
  }

  .cont_All:hover, .cont_active:hover, .cont_completed:hover, .clear:hover {
    color: #dcdddd;
    cursor: pointer;
  }

}

/*-----mobile mode start-----------------*/
@media screen and (max-width: 480px) {
  body:not(.dark_mode) header {
    background-image: url(./images/bg-mobile-light.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .dark_mode header {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  #mobile-filter {
    display: inline-block;
  }

  .brand-icon {
    width: 70vb;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    margin-inline: auto;
  }

  ::placeholder{
    font-size: 13px;
  }

  .brand-icon h1 {
    height: 20px;
    width: 109px;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 10px;
    margin-right: -50px;
  }

  .brand-icon img {
    margin-left: 300px;
    height: 20px;
    font-size: 25px;
    width: 20px;
  }

  .quary {
    display: flex;
    justify-content: center;   
    align-items: center; 
    width: 330px;
    height: 48px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: -3rem;
    margin-inline: auto;
  }

  .center-input {
    width: 50%;
    height: 100%;
    padding-right: 0;
    margin-left: -40px;
    border: none;
    background-color: #fff;
  }

  .icon-circle {
    left: 23px;
  }
  .todos-container {
    width: 330px;
    max-height: 240px;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 2px hsl(233, 11%, 84%);
    align-items: center;
    margin-top: -6.8rem;
  }

  #mobile-filter {
    margin-top: 2rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 20px 15px 20px 1px rgba(194, 195, 214, 0.50);
  }

  .clear {
    position: relative;
    font-size: 12px;
    top: 24px;
    right: 20px;
    margin-left: 150px;
  }

  .items-left {
    position: relative;
    margin-right: 150px;
    left: 20px;
    top: 10px;
    font-size: 12px;
  }

  .cont_All {
    visibility: hidden;
  }

  .cont_active {
    visibility: hidden;
  }

  .cont_completed {
    visibility: hidden;
  }
  
  .drag-drop p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.194444px;
    color: #9495A5;
  }

  #all {
    display: flex;
    align-items: start;
    margin-inline: 20px;
    
  }

  #active {
    display: flex;
    align-items: center;
    margin-inline: 20px;
    
  }

  #completed {
    display: flex;
    align-items: end;
    
  }

  #all,#active,#completed {
    font-size: 12px;
  }

  #all, #active, #completed, .clear  {
    cursor: pointer;
  }

  .circle {
    left: 17px;
  }

  .icon-check, .icon-circle {
    border-radius: 100%;
  }

  .dragging {
    opacity: 1;
  }
  
  .dragover {
    border-style: none;
  }
}
/*-----------mobile mode end--------------*/