* {
  margin: 0px;
  padding: -calc(1px * 0.5);
}


body{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 30px;
  cursor: pointer;
}





/*This code contains the header background image*/
header {
  
  background-size: fill;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
/*This container contains the positioning of the icon and the and some of the todo text*/
.brand-icon {
  padding: 25px;
  position: absolute;
  width: 541px;
  height: 48px;
  left: 215px;
  top: 45px;
  
}
  
/*Todo font tweaks*/
.brand-icon h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
/* identical to box height */
  letter-spacing: 15px;
  color: #FFFFFF;
  margin-right: 10px;
    
}
  
/*moon icon positioning*/
.brand-icon img {
  margin-left: 680px;
  position: absolute;
  top: 35px;
  bottom: 0px;
  display: flex;
  
}

/*This is the container that contains the input and it a long rectangualr box that fills up the input*/
.quary {
  background-color: hsl(0, 100%, 99%);
  position: absolute;
  width: 530px;
  height: 64px;
  left: 420px;
  top: 158px;
  border-radius: 5px;
}
/*Positioning the input*/
.center-input {
  text-align: left;
  width: 390px;
  height: 62px;
  padding-right: 70px;
  margin-left: 59px;
  border: none;
  outline: none;
}


/*checkable circle functioning as a return function*/
.circle {
  position: absolute;
  height: 24px;
  width: 24px;
  display: flex;
  margin: -45px 10px 5px 20px;
  color: #9c9494;
}


/*This is a list of all our todos*/
.todos-container {
  background-color: #f7efef;
  width: 530px;
  height: 369px;
  position: absolute;
  left: 420px;
  top: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.2);
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  height: 64px;
  line-height: 67px;
  border-bottom: 1px solid #ccc;
  padding-left: 70px;
  color: #9495A5;
  font-size: 18px;
}

/*made adjustment to the first list*/
.list li:first-child {
  height: 67px; /* Adjust the height of the first item */
  line-height: 78px; /* Make sure it matches the height */
}

.list li:last-child {
  height: 70px;
  line-height:70px ;
  border: none;
  font-size: 18px;
  
}
/*labels in the last-child*/

/*################## This is the tweaking of the last child in our list ##############################*/
/*5 items left*/

.items-left {
  position: absolute;
  width: 179px;
  height: 14px;
  left: 420px;
  top: 592px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-align: left;
  letter-spacing: -0.194444px;
  color: #9495A5;
  padding-left: 25px;
  
  
}

/*clear completed*/
.clear {
  position: absolute;
  width: 179px;
  height: 14px;
  left: 598px;
  top: 592px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-align: right;
  letter-spacing: -0.194444px;
  color: #9495A5;
  padding-left: 150px;
 
}

/* CSS code to align the three div containers and remove the gap between labels */
.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 196px;
  margin-top: 294.3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

}

.container div {
  flex-basis: 33.33%;
  text-align: center;
  
}

.container label {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.194444px;
  color: #9495A5;
  cursor: pointer;
  margin-right: 5px;
}

.container .cont_All, .container .cont_active, .container .cont_completed {
  height: 14px;
  left: 0%;
  right: 89.16%;
  top: calc(50% - 14px/2 - 2px);
  letter-spacing: -0.194444px;
  color: #9495A5;
}

.container .cont_active {
  display: flex;
  left: 20px;
  right: 69.16%;
  margin-top: 0.2px;
}

.container .cont_All label {
  color: #3A7CFD;
}





/*######################################################################*/

.drag-drop {
  position: absolute;
  width: 179px;
  height: 14px;
  left: 598px;
  top: 648px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.194444px;
  color: #9495A5;
  
}

.attribution {
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  top: 60px;
}

/*-----------------DARK MODE----------------------*/
body {
  background-color: #fff;
  color: #000;
}

.dark_mode {
  background-color: #000;
  color: #fff;
}

.dark_mode header {
  background-image: url(./images/bg-desktop-dark.jpg);
}

/*This rule applies the background image to the header when the dark mode class is not present on the body*/
body:not(.dark_mode) header {
  background-image: url(./images/bg-desktop-light.jpg);
}

.brand-icon,h1 {
  color: #fff;
  
}

.brand-icon img {
  filter: none;
}

.dark_mode .quary input {
  background-color: #222;
  color: #fff;
}

.dark_mode .quary {
  background-color: #222;
  color: #fff;
}

.dark_mode .todos-container {
  background-color: #222;
}

.dark_mode .list li {
  border-color: #444;
}

.dark_mode .circle {
  filter: none;
}

.dark_mode .items-left label {
  color: #9495A5;
}

.dark_mode .clear label {
  color: #9495A5;
}

.dark_mode .drag-drop p {
  color: #6b6969;
}

/*-----------------DARK MODE----------------------*/




